@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family:cursive;
}


/* PRODUCT STYLES */
.product {
  width: 400px;
  background-color: bisque;
  border: 1px solid rgb(212, 206, 206);
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-name {
  font-size: 20px;
  font-weight:900;
  margin-left: 20px;
}

.price-buy-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.product-price {
  font-size: 18px;
  font-weight:600;
  color: #1B3C73;
}

.buy-product {
  padding: 10px 20px;
  border-color: transparent;
  font-size: 18px;
  font-weight:600;
  cursor: pointer;
  background-color: #35374B;
  color: #fff;
  border-radius: 4px;
}

.buy-product:hover {
  background-color: #fff;
  color: #35374B;
  border: 1px solid #cdcee1;
}



/* CART ITEM STYLES */

.cart-container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f1f3f6;
  opacity: 0.96;
}

.cart-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.cart-product {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}

.cart-product img {
  width: 40%;
}

.cart-product-name {
  font-size: 20px;
  font-weight:900;
  margin-left: 20px;
}

.cart-price-buy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 40px;
}


.cart-product-price {
  font-size: 18px;
  font-weight:600;
  color: #1B3C73;
}

.cart-product input {
  padding: 10px 20px;
  width: 100px;
  border: 4px solid orange;
  border-radius: 10px;
  font-weight: bold;
  outline: orange;
}

.cart-remove-product {
  padding: 10px 20px;
  border-color: transparent;
  font-size: 18px;
  font-weight:600;
  cursor: pointer;
  background-color: #e20808;
  color: #fff;
  border-radius: 4px;
}


.cart-remove-product:hover {
  background-color: #fff;
  color: #e20808;
  border: 1px solid #cdcee1;
}

.pay-btn {
  cursor: pointer;
  padding: 10px 100px;
  border-color: transparent;
  font-size: 18px;
  font-weight:600;
  cursor: pointer;
  background-color: orange;
  border-radius: 4px;
  color: #fff;
  text-transform: capitalize;
  position: relative;
  left: 90rem;
  bottom: -120px;
  margin-bottom: 100px;
}

.pay-btn:hover {
   background-color: #fff;
   color: orange;
   border: 1px solid orange;
}

.total-price {
  position: relative;
  left: 71rem;
  bottom: -120px;
  margin-bottom: 100px;
  font-size: 18px;
  font-weight: 600;
}

.pay-btn-container {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}

.close-clear-cart-btn {
  cursor: pointer;
  padding: 10px 50px;
  border-color: transparent;
  font-size: 18px;
  font-weight:600;
  cursor: pointer;
  background-color: orange;
  border-radius: 4px;
  color: #fff;
  text-transform: capitalize;
}


.close-clear-cart-btn:hover {
   background-color: #fff;
   color: orange;
   border: 1px solid orange;
}

.close-clear-container {
  display: flex;
  float: right;
  margin: 20px;
  gap: 40px;
}

.cart-count {
  color: #fff;
}


.qty-label-input {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* HOMEPAGE STYLES */
.home-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}


.home-header span {
  color: orange;
}

.open-cart-btn {
  cursor: pointer;
  padding: 10px 20px;
  border-color: transparent;
  font-size: 18px;
  font-weight:600;
  cursor: pointer;
  background-color: orange;
  border-radius: 4px;
  color: #fff;
  text-transform: capitalize;
}

.open-cart-btn:hover {
   background-color: #fff;
   color: orange;
   border: 1px solid #cdcee1;
}



.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
}



/* PAYSTACK */


.Pay {
  text-align: center;
  font-family: "Roboto";
  letter-spacing: 0.1rem;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 5% auto;
  width: 100%;
  height: 430px;
  background: white;
  
}

.item {
  width: 80%;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  padding: 5px 10px;
}

.text-orange {
  color: orange;
}

.item-image {
  height: 430px;
  width: 100%;
  object-fit: cover;
}

.overlay-effect {
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  overflow: hidden;
  z-index: 1;
}

.item-details {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  margin-left: 20px;
  color: #080e06;
  text-align: left;
}

.item-details__title {
  font-size: 12px;
  text-align: left;
}

.item-details__amount {
  font-weight: bolder;
}

.checkout {
  background: #84a17d; /* fallback for old browsers */

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 430px;
  width: 50%;
}

.checkout-form {
  padding: 20px 20px;
}

.checkout-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.checkout-field label {
  text-align: left;
  color: #08090a;
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.checkout-field input {
  background-color: transparent;
  border: 1px solid #cecece;
  border-radius: 5px;
  color: orange;
  height: 35px;
  font-size: 16px;
}

.paystack-button {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: orange;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  margin-top: 40px;
}

.paystack-button:hover {
 background-color: #fff;
 color: orange;
 border: 0.5px solid orange;
}

.background-orange {
  background-color: orange;
  color: #fff;
  border: transparent;
}

.background-orange:hover {
  background-color: #fff;
  color: orange;
  border: 0.1px solid orange;
}


.summary-detail {
  display: flex;
  justify-content: space-between;
}



/* MEDIA QUERIES */
/* 
480-less    - phone landscape & smaller */
@media all and (max-width: 480px) {
  .products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 10px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.open-cart-btn {
  padding: 5px 10px;
  font-size: 12px;
  font-weight:400;
}


/* PRODUCT STYLES */
.product {
  width: 200px;
  margin: 0;
  border-radius: 10px;
}

.product img {
  height: 120px;
}

.product-name {
  font-size: 14px;
  font-weight:900;
}

.price-buy-container {
  align-items: center;
  padding: 20px;
}

.product-price {
  font-size: 12px;
  font-weight:600;
}

.buy-product {
  padding: 5px 10px;
  font-size: 12px;
  font-weight:400;
}


*/ CART ITEM STYLES */
.cart-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f1f3f6;
  opacity: 0.96;
}


.cart-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.cart-product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}

.cart-product img {
  width: 20%;
}

.cart-product-name {
  font-size: 14px;
  font-weight:500;
  margin-left: 0;
}

.cart-price-buy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
}


.cart-product-price {
  font-size: 12px;
  font-weight:600;
  color: #1B3C73;
}

.cart-product input {
  padding: 5px 10px;
  width: 60px;
  border: 4px solid orange;
  border-radius: 10px;
  font-weight: bold;
  outline: orange;
}

.cart-remove-product {
  padding: 5px;
  border-color: transparent;
  font-size: 12px;
  font-weight:400;
  cursor: pointer;
  background-color: #e20808;
  color: #fff;
  border-radius: 4px;
}


.cart-remove-product:hover {
  background-color: #fff;
  color: #e20808;
  border: 1px solid #cdcee1;
}

.pay-btn {
  cursor: pointer;
  padding: 10px 100px;
  border-color: transparent;
  font-size: 18px;
  font-weight:600;
  cursor: pointer;
  background-color: orange;
  border-radius: 4px;
  color: #fff;
  text-transform: capitalize;
  position: relative;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
}


.total-price {
  position: relative;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}

.pay-btn-container {
  padding: 40px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}

.close-clear-cart-btn {
  cursor: pointer;
  padding: 10px 20px;
  border-color: transparent;
  font-size: 14px;
  font-weight:400;
  cursor: pointer;
  background-color: orange;
  border-radius: 4px;
  color: #fff;
  text-transform: capitalize;
}


.close-clear-cart-btn:hover {
   background-color: #fff;
   color: orange;
   border: 1px solid orange;
}

.close-clear-container {
  display: flex;
  float: right;
  margin: 20px;
  gap: 20px;
}

.cart-count {
  color: #fff;
}


.qty-label-input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

/* PAY MODAL */
/* PAY MODAL */
.checkout-form {
  width: 50%;
  padding: 20px 20px;
}

.item-details {
  position: absolute;
  bottom: 0;
  margin-bottom: -15px;
  margin-left: 0;
  color: #080e06;
  text-align: left;
}


 }



/*   1024-768    - tablet landscape */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 10px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.open-cart-btn {
  padding: 5px 10px;
  font-size: 16px;
  font-weight:400;
}


/* PRODUCT STYLES */
.product {
  width: 270px;
  margin: 0;
  border-radius: 10px;
}

.product img {
  height: 150px;
}

.product-name {
  font-size: 16px;
  font-weight:900;
}

.price-buy-container {
  align-items: center;
  padding: 20px;
}

.product-price {
  font-size: 16px;
  font-weight:600;
}

.buy-product {
  padding: 8px 16px;
  font-size: 16px;
  font-weight:400;
}


*/ CART ITEM STYLES */
.cart-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f1f3f6;
  opacity: 0.96;
}


.cart-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.cart-product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}

.cart-product img {
  width: 25%;
}

.cart-product-name {
  font-size: 16px;
  font-weight:800;
  margin-left: 0;
}

.cart-price-buy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
}


.cart-product-price {
  font-size: 16px;
  font-weight:600;
  color: #1B3C73;
}

.cart-product input {
  padding: 8px 10px;
  width: 80px;
  border: 4px solid orange;
  border-radius: 10px;
  font-weight: bold;
  outline: orange;
}

.cart-remove-product {
  padding: 5px;
  border-color: transparent;
  font-size: 16px;
  font-weight:400;
  cursor: pointer;
  background-color: #e20808;
  color: #fff;
  border-radius: 4px;
}


.cart-remove-product:hover {
  background-color: #fff;
  color: #e20808;
  border: 1px solid #cdcee1;
}

.pay-btn {
  cursor: pointer;
  padding: 10px 100px;
  border-color: transparent;
  font-size: 18px;
  font-weight:600;
  cursor: pointer;
  background-color: orange;
  border-radius: 4px;
  color: #fff;
  text-transform: capitalize;
  position: relative;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
}


.total-price {
  position: relative;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}

.pay-btn-container {
  padding: 40px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}

.close-clear-cart-btn {
  cursor: pointer;
  padding: 10px 20px;
  border-color: transparent;
  font-size: 16px;
  font-weight:400;
  cursor: pointer;
  background-color: orange;
  border-radius: 4px;
  color: #fff;
  text-transform: capitalize;
}


.close-clear-cart-btn:hover {
   background-color: #fff;
   color: orange;
   border: 1px solid orange;
}

.close-clear-container {
  display: flex;
  float: right;
  margin: 20px;
  gap: 20px;
}

.cart-count {
  color: #fff;
}


.qty-label-input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

/* PAY MODAL */
.checkout-form {
  width: 50%;
  padding: 20px 20px;
}


 }



/*  1280-1024   - desktop (default grid) */
@media all and (min-width: 1025px) { 
 * PRODUCT STYLES */
.product {
  width: 400px;
  background-color: bisque;
  border: 1px solid rgb(212, 206, 206);
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-name {
  font-size: 20px;
  font-weight:900;
  margin-left: 20px;
}

.price-buy-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.product-price {
  font-size: 18px;
  font-weight:600;
  color: #1B3C73;
}

.buy-product {
  padding: 10px 20px;
  border-color: transparent;
  font-size: 18px;
  font-weight:600;
  cursor: pointer;
  background-color: #35374B;
  color: #fff;
  border-radius: 4px;
}

.buy-product:hover {
  background-color: #fff;
  color: #35374B;
  border: 1px solid #cdcee1;
}



/* CART ITEM STYLES */

.cart-container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f1f3f6;
  opacity: 0.96;
}

.cart-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.cart-product {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}

.cart-product img {
  width: 20%;
}

.cart-product-name {
  font-size: 24px;
  font-weight:900;
  margin-left: 0;
}

.cart-price-buy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 80px;
}


.cart-product-price {
  font-size: 20px;
  font-weight:600;
  color: #1B3C73;
}

.cart-product input {
  padding: 10px 20px;
  width: 100px;
  border: 4px solid orange;
  border-radius: 10px;
  font-weight: bold;
  outline: orange;
}

.cart-remove-product {
  padding: 10px 20px;
  border-color: transparent;
  font-size: 20px;
  font-weight:600;
  cursor: pointer;
  background-color: #e20808;
  color: #fff;
  border-radius: 4px;
}


.cart-remove-product:hover {
  background-color: #fff;
  color: #e20808;
  border: 1px solid #cdcee1;
}

.pay-btn {
  cursor: pointer;
  padding: 10px 100px;
  border-color: transparent;
  font-size: 20px;
  font-weight:600;
  cursor: pointer;
  background-color: orange;
  border-radius: 4px;
  color: #fff;
  text-transform: capitalize;
  position: relative;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
}

.pay-btn:hover {
   background-color: #fff;
   color: orange;
   border: 1px solid orange;
}

.total-price {
  position: relative;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
}

.pay-btn-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding-bottom: 80px;
  margin: 40px 0;
  gap: 40px;
}

.close-clear-cart-btn {
  cursor: pointer;
  padding: 10px 50px;
  border-color: transparent;
  font-size: 18px;
  font-weight:600;
  cursor: pointer;
  background-color: orange;
  border-radius: 4px;
  color: #fff;
  text-transform: capitalize;
}


.close-clear-cart-btn:hover {
   background-color: #fff;
   color: orange;
   border: 1px solid orange;
}

.close-clear-container {
  display: flex;
  float: right;
  margin: 20px;
  gap: 40px;
}

.cart-count {
  color: #fff;
}


.qty-label-input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}



/* HOMEPAGE STYLES */
.home-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}


.home-header span {
  color: orange;
}

.open-cart-btn {
  cursor: pointer;
  padding: 10px 20px;
  border-color: transparent;
  font-size: 18px;
  font-weight:600;
  cursor: pointer;
  background-color: orange;
  border-radius: 4px;
  color: #fff;
  text-transform: capitalize;
}

.open-cart-btn:hover {
   background-color: #fff;
   color: orange;
   border: 1px solid #cdcee1;
}



.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px;
}



/* PAYSTACK */


.Pay {
  text-align: center;
  font-family: "Roboto";
  letter-spacing: 0.1rem;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 5% auto;
  width: 100%;
  height: 430px;
  background: white;
  
}

.item {
  width: 80%;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  padding: 5px 10px;
}

.text-orange {
  color: orange;
}

.item-image {
  height: 430px;
  width: 100%;
  object-fit: cover;
}

.overlay-effect {
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  overflow: hidden;
  z-index: 1;
}

.item-details {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  margin-left: 20px;
  color: #080e06;
  text-align: left;
}

.item-details__title {
  font-size: 12px;
  text-align: left;
}

.item-details__amount {
  font-weight: bolder;
}

.checkout {
  background: #84a17d; /* fallback for old browsers */

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 430px;
  width: 50%;
}

.checkout-form {
  padding: 20px 20px;
}

.checkout-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.checkout-field label {
  text-align: left;
  color: #08090a;
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.checkout-field input {
  background-color: transparent;
  border: 1px solid #cecece;
  border-radius: 5px;
  color: orange;
  height: 35px;
  font-size: 16px;
}

.paystack-button {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: orange;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  margin-top: 40px;
}

.paystack-button:hover {
 background-color: #fff;
 color: orange;
 border: 0.5px solid orange;
}

.background-orange {
  background-color: orange;
  color: #fff;
  border: transparent;
}

.background-orange:hover {
  background-color: #fff;
  color: orange;
  border: 0.1px solid orange;
}


.summary-detail {
  display: flex;
  justify-content: space-between;
}

}